<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matchfinder.jan.t9_mobileapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:fullBackupContent="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="FootNation"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

    <!--
    The API key for Google Maps-based APIs is defined as a string resource.
    (See the file "res/values/google_maps_api.xml").
    Note that the API key is linked to the encryption key used to sign the APK.
    You need a different API key for each encryption key, including the release key that is used to
    sign the APK for publishing.
    You can define the keys for the debug and release targets in src/debug/ and src/release/.
    -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.matchfinder.jan.t9_mobileapp.activities.Homescreen"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:screenOrientation="portrait"
            android:name="com.matchfinder.jan.t9_mobileapp.activities.Profile"
            android:parentActivityName="com.matchfinder.jan.t9_mobileapp.activities.Homescreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.matchfinder.jan.t9_mobileapp.activities.Homescreen" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.matchfinder.jan.t9_mobileapp.activities.ProfileEdit"
            android:parentActivityName="com.matchfinder.jan.t9_mobileapp.activities.Profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.matchfinder.jan.t9_mobileapp.activities.Profile" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.matchfinder.jan.t9_mobileapp.activities.Team"
            android:parentActivityName="com.matchfinder.jan.t9_mobileapp.activities.League">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.matchfinder.jan.t9_mobileapp.activities.League" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.matchfinder.jan.t9_mobileapp.activities.League"
            android:parentActivityName="com.matchfinder.jan.t9_mobileapp.activities.Homescreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.matchfinder.jan.t9_mobileapp.activities.Homescreen" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.matchfinder.jan.t9_mobileapp.activities.Search"
            android:parentActivityName="com.matchfinder.jan.t9_mobileapp.activities.Homescreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.matchfinder.jan.t9_mobileapp.activities.Homescreen" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.matchfinder.jan.t9_mobileapp.activities.EventRadar"
            android:parentActivityName="com.matchfinder.jan.t9_mobileapp.activities.Homescreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.matchfinder.jan.t9_mobileapp.activities.Homescreen" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.matchfinder.jan.t9_mobileapp.activities.CreateEvent"
            android:parentActivityName="com.matchfinder.jan.t9_mobileapp.activities.EventRadar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.matchfinder.jan.t9_mobileapp.activities.EventRadar" />
        </activity>
        <activity android:name="com.matchfinder.jan.t9_mobileapp.activities.Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.matchfinder.jan.t9_mobileapp.activities.LeagueOverview"
            android:screenOrientation="portrait"
            android:parentActivityName="com.matchfinder.jan.t9_mobileapp.activities.Homescreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.matchfinder.jan.t9_mobileapp.activities.Homescreen" />
        </activity>
        <activity android:name="com.matchfinder.jan.t9_mobileapp.activities.CreateLeague"
            android:screenOrientation="portrait"
            android:parentActivityName="com.matchfinder.jan.t9_mobileapp.activities.League">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.matchfinder.jan.t9_mobileapp.activities.League" />
        </activity>
        <activity android:name="com.matchfinder.jan.t9_mobileapp.activities.SearchLeague"
            android:screenOrientation="portrait"
            android:parentActivityName="com.matchfinder.jan.t9_mobileapp.activities.League">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.matchfinder.jan.t9_mobileapp.activities.League" />
        </activity>
        <activity android:name="com.matchfinder.jan.t9_mobileapp.activities.Registration" android:screenOrientation="portrait" />
        <activity android:name="com.matchfinder.jan.t9_mobileapp.activities.SplashScreen" android:screenOrientation="portrait"/>

        <activity android:name="com.matchfinder.jan.t9_mobileapp.activities.LeagueNews"
            android:screenOrientation="portrait"
            android:parentActivityName="com.matchfinder.jan.t9_mobileapp.activities.League">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.matchfinder.jan.t9_mobileapp.activities.League" />
        </activity>
        <activity android:name="com.matchfinder.jan.t9_mobileapp.activities.LeagueTables"
            android:screenOrientation="portrait"
            android:parentActivityName="com.matchfinder.jan.t9_mobileapp.activities.League">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.matchfinder.jan.t9_mobileapp.activities.League" />
        </activity>
        <activity android:name="com.matchfinder.jan.t9_mobileapp.menu.menu_developer"
            android:screenOrientation="portrait"
            android:parentActivityName="com.matchfinder.jan.t9_mobileapp.activities.Homescreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.matchfinder.jan.t9_mobileapp.activities.Homescreen" />
        </activity>
        <activity android:name="com.matchfinder.jan.t9_mobileapp.menu.menu_faq"
            android:screenOrientation="portrait"
            android:parentActivityName="com.matchfinder.jan.t9_mobileapp.activities.Homescreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.matchfinder.jan.t9_mobileapp.activities.Homescreen" />
        </activity>
        <activity android:name="com.matchfinder.jan.t9_mobileapp.menu.menu_impressum"
            android:screenOrientation="portrait"
            android:parentActivityName="com.matchfinder.jan.t9_mobileapp.activities.Homescreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.matchfinder.jan.t9_mobileapp.activities.Homescreen" />
        </activity>
        <activity android:name="com.matchfinder.jan.t9_mobileapp.menu.menu_data_privacy"
            android:screenOrientation="portrait"
            android:parentActivityName="com.matchfinder.jan.t9_mobileapp.activities.Homescreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.matchfinder.jan.t9_mobileapp.activities.Homescreen" />
        </activity>
        <activity android:name="com.matchfinder.jan.t9_mobileapp.menu.menu_settings"
            android:screenOrientation="portrait"
            android:parentActivityName="com.matchfinder.jan.t9_mobileapp.activities.Homescreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.matchfinder.jan.t9_mobileapp.activities.Homescreen" />
        </activity>
    </application>
</manifest>