<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kick_it.jan.t9_mobileapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Kick It - Matchfinder"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
        The API key for Google Maps-based APIs is defined as a string resource.
        (See the file "res/values/google_maps_api.xml").
        Note that the API key is linked to the encryption key used to sign the APK.
        You need a different API key for each encryption key, including the release key that is used to
        sign the APK for publishing.
        You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.kick_it.jan.t9_mobileapp.Homescreen"
                 android:screenOrientation="portrait"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.kick_it.jan.t9_mobileapp.Profile"
            android:parentActivityName="com.kick_it.jan.t9_mobileapp.Homescreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kick_it.jan.t9_mobileapp.Homescreen" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.kick_it.jan.t9_mobileapp.Team"
            android:parentActivityName="com.kick_it.jan.t9_mobileapp.BunteLiga">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kick_it.jan.t9_mobileapp.BunteLiga" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.kick_it.jan.t9_mobileapp.EventRadar"
            android:parentActivityName="com.kick_it.jan.t9_mobileapp.Homescreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kick_it.jan.t9_mobileapp.Homescreen" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.kick_it.jan.t9_mobileapp.BunteLiga"
            android:parentActivityName="com.kick_it.jan.t9_mobileapp.Homescreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kick_it.jan.t9_mobileapp.Homescreen" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.kick_it.jan.t9_mobileapp.Search"
            android:parentActivityName="com.kick_it.jan.t9_mobileapp.Homescreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kick_it.jan.t9_mobileapp.Homescreen" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.kick_it.jan.t9_mobileapp.CreateEvent"
            android:parentActivityName="com.kick_it.jan.t9_mobileapp.EventRadar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kick_it.jan.t9_mobileapp.EventRadar" />
        </activity>
        <activity android:name="com.kick_it.jan.t9_mobileapp.Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kick_it.jan.t9_mobileapp.Registration">
            android:screenOrientation="portrait"
        </activity>
        <activity android:name="com.kick_it.jan.t9_mobileapp.SplashScreen">
            android:screenOrientation="portrait"
        </activity>
        <activity android:name="com.kick_it.jan.t9_mobileapp.LeagueNews">
            android:screenOrientation="portrait"
        </activity>
        <activity android:name="com.kick_it.jan.t9_mobileapp.LeagueTables">
            android:screenOrientation="portrait"
        </activity>
    </application>
</manifest>